.icon {
  font-size: 20px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: box-shadow 0.3s ease-in-out; /* Add a transition effect for smooth animation */
}

.card:hover {
  cursor: pointer;
  box-shadow: none; /* Set box-shadow to none on hover */
}
